body {
	color: white;
	background: black;
	font: 18px Roboto, sans-serif;
	text-align: center;
}

header {
	margin-bottom: 2em;
}

footer {
	display: block;
	clear: both;
	margin-top: 100px;
	line-height: 200%;
}

.breaker {
	clear: both;
}

h1 {
	font-size: 48px;
}

h2 {
	margin-top: 1.5em;
}

a {
	color: white;
}

a:hover {
	text-decoration: gray underline;
}

.container {
	margin: auto;
	width: 960px;
}

.symbol-preview {
	display: block;
	float: left;
	margin: 20px;
}

.small-size {
	width: 128px;
	height: 128px;
}

.medium-size {
	width: 256px;
	height: 256px;
}

.big-size {
	width: 960px;
	height: 960px;
}

.plot {
	margin: 1em 10% 1em 10%;
}
